
/* parallax */
.parallax img {
    display: block;
}

.parallax-container {
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* order page */
#orderDiv {
    display: inline;
    overflow-y: scroll;
    height: 380px;
}

#contactDiv {
    height: 50vh;
    display: inline;
}

/* logo */
.brand-logo {
    margin-left: 1em;
}

/* font */
.text-weight-300 {
    font-weight: 300;
}

.text-weight-500 {
    font-weight: 500;
}

/* sub-footer */
#footer_Container {

}

/* sub-footer */
#sub_footer {
    height: 4em;
    line-height: 4em;
    white-space: nowrap;

}